streamlit
pandas
plotly
hydralit-components
nltk
pillow
numpy==1.25.2
praw
prometheus_client
matplotlib
requests
snscrape
fastapi[all]
fastapi
python-multipart
python-dotenv


pytz
pyyaml
pyzmq
uvicorn
sqlalchemy
asyncpg
psycopg2-binary
pydantic
prometheus-client



